*{
    box-sizing: border-box;
}
body {
    font-size: 112.5%;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    top: 0;
    width: 100%;
}
h1{
    margin: 0;
    grid-column: 1/-1;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    font-family: 'Montserrat Subrayada', sans-serif;
    background: #70eb67;
    padding: 10px;
    margin-left: 15px;
    top: 93px;
    /*z-index: -1;
    position: relative ;*/
}
p{
    padding: 10px;
    margin-left: 10px;
}
.break{
    display: inline;
    color: white;
    margin: 0;
    padding: 5px;
}
header,footer{
    width: 100%;
    background-color: grey;
    padding: 10px;
    text-align: center;
}
header{
    display: grid;
    position: sticky;
    top: 0;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.nav1{
    grid-row: 2;
    grid-column: 1;
}
.nav2{
    grid-row: 2;
    grid-column: 2;
}
main {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 20px;
}
.pictures {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
   /* margin-left: -75%; */
}
.img {
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    scroll-snap-align: center;
}
.contact > div{
    display: flex;
    max-width: 375px;
    justify-content: center;

}
.logo:hover {
    opacity: 20%;
}
button{
    background-color:#70eb67;
    color: white;
    font-size: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    margin: 5px;
}
button:hover {
    opacity: 70%;
}
.nav-item {
    color: white;
    text-decoration: none;
}
.nav-item:hover{
    text-decoration: underline;
}
@media (max-width: 419px) {
    h2 {
        position: sticky;
    }
    .nav-item{
        font-size: 80%;
    }
}

@media (min-width: 420px) {
    main {
        grid-template-columns: auto min-content;
        grid-auto-flow: dense;
        column-gap: 20px;
    }
    .pictures {
        flex-direction: column;
        grid-column: 2;
        grid-row: 1/span 4;
        margin-top: 12px;
    }

    .nav1{
        grid-column: 1;
        grid-row: 1;
    }
    .nav2{
        grid-column: -1;
        grid-row: 1;
    }
    header{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
    
    }
    h1{
        grid-column: 2;
    }
}

